#######################################################################
# Configuration file to manage runs
#
# All environment variables or anything to be hard coded should be done
# here and included in each script
########################################################################

#-------------------------------------------------------
# Elmer and overall configuration options for installing
#-------------------------------------------------------
RUN_NAME=Run1

#Top level ("home") dir containing the the solvers, sif templates etc
HOME_PATH=/short/gh8/lmj581/MISMIP+

#Where your runs wil be stored and run from
WORKDIR=/short/gh8/lmj581/MISMIP_WORK
SOLVERS_SRC=/short/gh8/lmj581/MISOMIP_FISOC/MISMIP_plus/Solvers

Executables=$WORKDIR/$RUN_NAME/Executables
ResultsPath=$WORKDIR/$RUN_NAME/Results
ScketchPath=$HOME_PATH/Scketches

#Your gmsh.
GMSH=gmsh

#Command por executing serial jobs
SEQRUN=
#SEQRUN=seqrun

#In case you have to specify to ElmerSolver_mpi which host you want to work. Leave it empty if it's not mandatory for your machine
HOST=
#HOST="-host \$host"

CC=mpicc
CCFLAG=-fPIC

#NN Library libnn.a folder
NN_HOME=/short/gh8/lmj581/Software/nn-c/nn

#CSA Library folder
CS_HOME=/short/gh8/lmj581/Software/csa-c/csa

#NETCDF Library for Scatter2DInterpolator compilation
NETCDFHOME=

#Scattered2DDataInterpolator folder
ELMER_Scatter=$ELMER_HOME/elmerice/ScatteredDataInterpolator/
#ELMER_Scatter=/r510/work1/ltavard/MyElmerIce/elmerice/elmerice/ScatteredDataInterpolator/

#---------------------------------------------------
# Run parameters
#--------------------------------------------------

MESH_NAME=mesh1
MeshPath=$WORKDIR/$RUN_NAME/Mesh
numParts=16


#Mesh resolutions if not uniform
Type=Ref
Resolution=2000 #left box
Resolution2=2000 #center box
Resolution3=2000 #right box
boxposX=430000
boxposLen=100000


C=1.0e-2
eta=0.2924017738212866
accum=0.3



